<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crop Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/styles.css" >


    
</head>
<body>
    <div class="main">
    <div class="right">
        <a href="{{ url_for('about') }}" class="about-link">About This Application</a>
    </div>
    <div class="left">
        <h1>Crop Recommendation System</h1>
    </div>
</div>

    <div class="container">
        <div class="left-container">
            <form action="/predict" method="POST">
                <label for="Nitrogen">Nitrogen</label>
                <input type="number" id="Nitrogen" name="Nitrogen" placeholder="Enter Nitrogen" required step="0.01">

                <label for="Phosphorus">Phosphorus</label>
                <input type="number" id="Phosphorus" name="Phosphorus" placeholder="Enter Phosphorus" required step="0.01">

                <label for="Potassium">Potassium</label>
                <input type="number" id="Potassium" name="Potassium" placeholder="Enter Potassium" required step="0.01">

                <label for="Temperature">Temperature</label>
                <input type="number" step="0.01" id="Temperature" name="Temperature" placeholder="Enter Temperature in °C" required>

                <label for="Humidity">Humidity</label>
                <input type="number" step="0.01" id="Humidity" name="Humidity" placeholder="Enter Humidity in %" required>

                <label for="Ph">pH</label>
                <input type="number" step="0.01" id="Ph" name="Ph" placeholder="Enter pH value" required>

                <label for="Rainfall">Rainfall</label>
                <input type="number" step="0.01" id="Rainfall" name="Rainfall" placeholder="Enter Rainfall in mm" required>

                <button type="submit">Get Recommendation</button>
            </form>
        </div>
        <div class="right-container">
            <div class="output-card">


                <h5>Recommended Crop for Cultivation:</h5>

                <!-- This paragraph starts hidden and will only display if result is not empty -->
                <p id="resultText" style="display: none;">{{ result }}</p>
                <img src="{{ url_for('static', filename='images/' + crop_image) }}" alt="Crop Image">
            </div>
        </div>
        <script>

            document.addEventListener("DOMContentLoaded", function() {
                const resultText = document.getElementById("resultText");


                if (resultText && resultText.textContent.trim() !== "") {
                    resultText.style.display = "block";
                }
                else{
                    resultText.style.display = "none";
                }
            });
        </script>
    </div>
    

</body>
</html>


